.header {
    background: #3A3A3A;
    padding: 15px 20px;

    border-radius: 8px;

    display: flex;
    gap: 25px;
    align-items: center;
}

.header h1 {
    font-size: 32pt;
    font-weight: 600;
    color: #E2E9F0;
}