.quests {
    display: flex;
    gap: 20px;
    place-content: center center;

    margin: 20px 10px;
    width: 99%;
}

.quests div {
    border: 1px #30332E solid;
    border-radius: 10px;
    box-sizing: border-box;

    padding: 10px;
    width: 40vw;

    text-align: center;
}

.quests div h3 {
    font-size: 20pt;
    font-weight: 500;
}