.newquest {
    margin: 20px 10px;
    padding: 10px;
    box-sizing: border-box;

    border: 1px #3A3A3A solid;
    border-radius: 10px;
}

.newquest h2 {
    font-size: 20pt;
    font-weight: 500;
}

.quests {
    display: flex;
    gap: 20px;
    place-content: center center;

    margin: 20px 10px;
    width: 95%;
}

.quests div {
    border: 1px #3A3A3A solid;
    border-radius: 10px;
    box-sizing: border-box;

    padding: 10px;
    width: 20vw;

    text-align: center;
}

.quests div h3 {
    font-size: 20pt;
    font-weight: 500;
}